<% provide(:title, 'Contact') %>

<div class="container">

  <!--Section heading-->
  <h2 class="font-weight-bold text-center h1 py-5">Contact us</h2>




  <div class="row">

    <div class="col-sm-12" id="flash-message">
      <%= render 'flash' %>
    </div>


    <!--Grid column-->
    <div class="col-lg-5 mb-4">

      <div class="card-message">

        <div class="card-body">

          <!--Header-->
          <div class="form-header">
            <h3>
              <i class="fa fa-envelope"></i> Write to us:</h3>
          </div>



            <%= form_for(@message, remote: true) do |f| %>

            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <%= f.label :name %>
              <%= f.text_field :name, required: true,  class: 'form-control' %>
            </div>

            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <%= f.label :email %>
              <%= f.text_field :email, required: true,  class: 'form-control' %>
            </div>

            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <%= f.label :message %>
              <%= f.text_area :message, as: :text, required: true,  class: 'form-control', style: 'height: 175px' %>
            </div>

            <div class="hidden" style="display: none">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, hint: 'leave this field blank' %>
            </div>

            <div class="text-center">
              <%= f.submit "Send Message", class: 'btn btn-default btn-lg waves-effect waves-light' %>
            </div>



            <% end %>

        </div>

      </div>
    </div>
    <!--Grid column-->



    <!--Grid column-->
    <div class="col-lg-7">

      <!--Google map-->
      <div id="map-container-camp" class="rounded z-depth-1-half" style="height: 400px"></div>

      <br>
      <!--Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating">
            <i class="fa fa-map-marker"></i>
          </a>
          <p>10705 Corey Lake Rd</p>
          <p>Three Rivers, MI 49093</p>
          <p>United States</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating">
            <i class="fa fa-phone"></i>
          </a>
          <p>(269) 244-8214</p>

        </div>

        <div class="col-md-4">
          <a class="btn-floating">
            <i class="fa fa-envelope"></i>
          </a>
          <p>info@robertsenterprise.com</p>

        </div>
      </div>

    </div>
    <!--Grid column-->








  </div>
</div>

