

<%= form_for(@album_item) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Type the post title here', class: 'form-control' %>

    <%= f.label :Category %> <br>
    <%= f.collection_select(:topic_id, Topic.all, :id, :title, {prompt: 'Choose an album' }) %><br>

    <div class="field">

        <%= f.file_field :image, class: 'btn btn-default'  %>

    </div>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit 'Submit photo', class: "btn btn-default btn-lg" %>
  </div>
<% end %>