<% provide(:title, 'Photo Gallery') %>

<div class="album text-muted">

  <div class="container">

    <div class="row wow fadeIn " data-wow-delay="0.2s">
      <div class="col-md-12 mt-5">
        <h2 class="h1-responsive font-bold">
           Photo Gallery
        </h2>
        <h2 class="h1-responsive font-bold">
          <%= link_to "Add New Photo", new_album_url, :class => 'btn btn-default btn-lg' %> 
        </h2>
        <hr>
        <p>
          <%= link_to "Campground", campground_album_path, :class => 'btn btn-default' %> 
          <%= link_to "Mobile Home Park", river_run_album_path, :class => 'btn btn-default' %> 
          <%= link_to "Estate Park", estate_park_album_path, :class => 'btn btn-default' %> 
        </p>
      </div>
    </div>

    <hr>

    <div class="row sortable sortable">
      <%= render partial: 'album_item', collection: @album_items %>
    </div>

    <hr>

  </div>

</div>




