
<div class="post-container container">

  <div class="row">


    <!--Card-->
    <div class="card card-cascade wider reverse my-4 card-post-show">

      <!--Card image-->
      <div class="view overlay">

        <%= link_to(image_tag(@album_item.image_url(:default).to_s, class: 'img-fluid post-image center-block'), @album_item.image_url(:default).to_s, class: 'img-fluid post-image center-block',
                    data: {lightbox: @album_item.id, title: @album_item.title}) %>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">

        <!--Title-->
        <h4 class="card-title"><strong><%= link_to @album_item.title, @album_item %></strong></h4>
        <h5 class="indigo-text"><strong><%= @album_item.created_at.strftime("%d %b. %Y") %></strong></h5>



        <% if logged_in? && current_user.admin? %>
          <%= link_to "Edit", edit_album_path(@album_item.id) %>
          <%= link_to "Delete Photo", album_path(@album_item), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>



    </div>

  </div>
</div>