





<div class="card-message">

  <div class="card-body">




  <%= form_for @post, html: {multipart: true } do |f| %>

  <%= render 'shared/error_post_messages' %>


  <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: 'Choose a category' }) %>

      <div class="md-form">
         <i class="fa fa-user prefix grey-text"></i>

         <%= f.text_field :title, placeholder: 'Type the post title here', class: 'form-control' %>
      </div>


      <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>

        <%= f.text_field :content, as: :text, required: true, placeholder: 'Type the post text here', class: 'form-control', style: 'height: 100px' %>
      </div>

      <%= f.label :image %>

      <div class="field">
        <label>
        <%= f.file_field :image %>
        </label>
      </div>

      <%= f.submit "Create Post", class: "btn btn-default btn-lg waves-effect waves-light"%>
  <% end %>
  </div>
    <!--Grid column-->


</div>
