



<div class="post-container container">

  <div class="row">


  <!--Card-->
  <div class="card card-cascade wider reverse my-4 card-post-show">

    <!--Card image-->
    <div class="view overlay">

      <%= link_to(image_tag(@post.image_url(:default).to_s, class: 'img-fluid post-image center-block'), @post.image_url(:default).to_s, class: 'img-fluid post-image center-block',
                  data: { lightbox: @post.id, title: @post.title }) %>






    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title"><strong><%= @post.title %></strong></h4>
      <h5 class="indigo-text"><strong><%= @post.created_at.strftime("%d %b. %Y") %></strong></h5>

      <p class="card-text"><%= @post.content %></p>



      <% if logged_in? && current_user.admin? %>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>

    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->



  </div>
</div>