
<%= stylesheet_link_tag    'side-nav' %>



  <div id="wrapper">

    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand"> <a href="#">Dashboard </a> </li>

        <li>
        <%= link_to root_path do  %>
          <i class="fa fa-fw fa-home"></i>
          <span class="network-name">Home</span>
        <% end %>
        </li>

        <li>
          <%= link_to campground_path do  %>
            <i class="fa fa-tree fa-fw"></i>
            <span class="network-name">Campground</span>
          <% end %>
        </li>

        <li>
          <%= link_to albums_path do  %>
            <i class="fa fa-camera-retro fa-fw"></i>
            <span class="network-name">Gallery</span>
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do  %>
            <i class="fa fa-rss fa-fw"></i>
            <span class="network-name">Blog</span>
          <% end %>
        </li>

        <li>
          <%= link_to contact_path do  %>
            <i class="fa fa-envelope fa-fw"></i>
            <span class="network-name">Contact</span>
          <% end %>
        </li>

        <li>
          <%= link_to help_path do  %>
            <i class="fa fa-question-circle fa-fw"></i>
            <span class="network-name">Help</span>
          <% end %>
        </li>



      </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <%= yield(:content) %>





  </div>


