


<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag asset_path('favicon/favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <%= stylesheet_link_tag 'application'  %>





  <%= render 'layouts/shim' %>
</head>

<body>
  <%= render 'layouts/header' %>

  <%= render :partial => 'shared/flash_messages', :flash => flash %>

  <%= render 'layouts/sidebar' %>


  <%- # 'yield' below will insert content from the view -%>






  <%= render 'layouts/footer' %>



  <%= javascript_include_tag 'application'  %>


  <script type="text/javascript">
    new WOW().init();
  </script>




</body>
</html>
